In [2]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import time

# ACC Scrape

In [3]:
base_url = "https://www.sports-reference.com/cbb/conferences/acc/men/{}-stats.html"

# years to scrape
years = list(range(2003, 2024))  # 2003 to 2023

# columns to scrape
columns = ["Player", "Team", "Pos", 'PTS', 'AST', "TRB", 'ORB', 'DRB', 
'STL', 'BLK', 'TOV', "G", "MP", "FG", "FGA", "FG%", "eFG%", 'FT', 'FTA', 'FT%']

# empty DataFrame to hold all data
all_data = pd.DataFrame()

In [4]:
# Loop through each year and scrape data
for year in years:
    url = base_url.format(year)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Find the table
    tables = soup.find_all('table')
    
    # read table into a dataframe
    df = pd.read_html(str(tables))[0]
    
    
    # select columns 
    df = df[columns]
    
    # add a column for year
    df["Year"] = year
    
    # append to main DataFrame
    all_data = pd.concat([all_data, df])
    
    # rate limiting so I don't break this server
    time.sleep(1)

# Reset the index of the final DataFrame
all_data.reset_index(drop=True, inplace=True)

/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1487/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]

In [5]:
all_data

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Josh Howard,Wake Forest,F,19.5,1.9,8.3,3.3,5.0,2.1,1.5,...,31.0,32.3,6.6,13.8,0.477,0.539,4.7,5.6,0.833,2003
1,Drew Nicholas,Maryland,G,17.8,2.7,3.8,0.9,3.0,1.2,0.4,...,31.0,31.7,5.9,13.4,0.440,0.528,3.7,4.4,0.852,2003
2,Edward Scott,Clemson,G,17.7,5.8,3.7,0.8,2.9,1.4,0.1,...,28.0,38.5,5.9,15.3,0.386,0.437,4.4,5.9,0.739,2003
3,Dahntay Jones,Duke,F,17.7,0.9,5.5,1.4,4.1,1.2,0.5,...,33.0,30.7,6.0,12.8,0.470,0.526,4.2,5.7,0.749,2003
4,Julius Hodge,NC State,G,17.7,3.5,6.1,1.7,4.5,1.3,0.7,...,31.0,35.3,5.3,12.1,0.439,0.493,5.8,7.1,0.817,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3896,Michael Ward,Virginia Tech,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,1.0,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
3897,Kevin Dunn,Wake Forest,G,0.0,0.3,0.3,0.0,0.3,0.0,0.0,...,3.0,1.7,0.0,1.3,0.000,0.000,0.0,0.0,NaN,2023
3898,Owen Kmety,Wake Forest,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
3899,Xiaolong Xu,Wake Forest,G,0.0,0.0,0.3,0.0,0.3,0.0,0.0,...,3.0,1.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
3900,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.449,0.514,NaN,NaN,0.744,2023

In [6]:
season_avg_df = all_data[all_data['Player'] != 'League Average']

In [7]:
season_avg_df

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Josh Howard,Wake Forest,F,19.5,1.9,8.3,3.3,5.0,2.1,1.5,...,31.0,32.3,6.6,13.8,0.477,0.539,4.7,5.6,0.833,2003
1,Drew Nicholas,Maryland,G,17.8,2.7,3.8,0.9,3.0,1.2,0.4,...,31.0,31.7,5.9,13.4,0.440,0.528,3.7,4.4,0.852,2003
2,Edward Scott,Clemson,G,17.7,5.8,3.7,0.8,2.9,1.4,0.1,...,28.0,38.5,5.9,15.3,0.386,0.437,4.4,5.9,0.739,2003
3,Dahntay Jones,Duke,F,17.7,0.9,5.5,1.4,4.1,1.2,0.5,...,33.0,30.7,6.0,12.8,0.470,0.526,4.2,5.7,0.749,2003
4,Julius Hodge,NC State,G,17.7,3.5,6.1,1.7,4.5,1.3,0.7,...,31.0,35.3,5.3,12.1,0.439,0.493,5.8,7.1,0.817,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,Stephen Keating,Syracuse,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
3896,Michael Ward,Virginia Tech,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,1.0,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
3897,Kevin Dunn,Wake Forest,G,0.0,0.3,0.3,0.0,0.3,0.0,0.0,...,3.0,1.7,0.0,1.3,0.000,0.000,0.0,0.0,NaN,2023
3898,Owen Kmety,Wake Forest,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
3899,Xiaolong Xu,Wake Forest,G,0.0,0.0,0.3,0.0,0.3,0.0,0.0,...,3.0,1.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023

In [8]:
season_avg_df.columns

Index(['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB', 'STL',
       'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA', 'FT%',
       'Year'],
      dtype='object')

In [9]:
new_column = ['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB',
       'STL', 'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA',
       'FT%', 'Year']

In [10]:
new_column = [column.lower() for column in new_column]

In [11]:
season_avg_df.columns = new_column

In [12]:
season_avg_df

,player,team,pos,pts,ast,trb,orb,drb,stl,blk,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
0,Josh Howard,Wake Forest,F,19.5,1.9,8.3,3.3,5.0,2.1,1.5,...,31.0,32.3,6.6,13.8,0.477,0.539,4.7,5.6,0.833,2003
1,Drew Nicholas,Maryland,G,17.8,2.7,3.8,0.9,3.0,1.2,0.4,...,31.0,31.7,5.9,13.4,0.440,0.528,3.7,4.4,0.852,2003
2,Edward Scott,Clemson,G,17.7,5.8,3.7,0.8,2.9,1.4,0.1,...,28.0,38.5,5.9,15.3,0.386,0.437,4.4,5.9,0.739,2003
3,Dahntay Jones,Duke,F,17.7,0.9,5.5,1.4,4.1,1.2,0.5,...,33.0,30.7,6.0,12.8,0.470,0.526,4.2,5.7,0.749,2003
4,Julius Hodge,NC State,G,17.7,3.5,6.1,1.7,4.5,1.3,0.7,...,31.0,35.3,5.3,12.1,0.439,0.493,5.8,7.1,0.817,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,Stephen Keating,Syracuse,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
3896,Michael Ward,Virginia Tech,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,1.0,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
3897,Kevin Dunn,Wake Forest,G,0.0,0.3,0.3,0.0,0.3,0.0,0.0,...,3.0,1.7,0.0,1.3,0.000,0.000,0.0,0.0,NaN,2023
3898,Owen Kmety,Wake Forest,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,1.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
3899,Xiaolong Xu,Wake Forest,G,0.0,0.0,0.3,0.0,0.3,0.0,0.0,...,3.0,1.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023

In [13]:
numeric_columns = ['pts', 'ast','trb', 'orb','drb', 'stl',
 'blk','tov','g','mp','fg','fga','fg%','efg%','ft','fta','ft%']

In [14]:
career_avg_df = season_avg_df.groupby('player').agg(
    {column: 'mean' for column in numeric_columns}
).reset_index()

In [15]:
career_avg_df = career_avg_df.round(2)

In [16]:
career_avg_df = career_avg_df.sort_values(by = 'pts', ascending = False).reset_index(drop = True)

In [17]:
acc_career_avg_df = career_avg_df

In [18]:
career_avg_df['mp'].mean(), career_avg_df['g'].mean()

(np.float64(15.12127927927928), np.float64(22.345246098439375))

In [20]:
career_avg_df

,player,pts,ast,trb,orb,drb,stl,blk,tov,g,mp,fg,fga,fg%,efg%,ft,fta,ft%
0,Zion Williamson,22.60,2.1,8.90,3.50,5.40,2.10,1.80,2.40,33.00,30.00,9.0,13.2,0.68,0.71,3.90,6.20,0.64
1,R.J. Barrett,22.60,4.3,7.60,1.60,6.00,0.90,0.40,3.20,38.00,35.30,8.4,18.5,0.45,0.51,3.90,5.90,0.66
2,Marvin Bagley III,21.00,1.5,11.10,4.00,7.10,0.80,0.90,2.30,33.00,33.90,8.2,13.3,0.61,0.64,4.00,6.30,0.63
3,Tyler Hansbrough,20.15,1.1,8.50,3.40,5.15,1.25,0.48,2.10,35.50,30.90,6.6,12.3,0.54,0.54,6.88,8.72,0.79
4,J.J. Redick,19.88,2.2,2.72,0.48,2.22,1.10,0.10,2.12,34.75,34.05,5.9,13.7,0.43,0.55,4.75,5.22,0.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661,Matt Deasey,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,6.00,1.00,0.0,0.2,0.00,0.00,0.00,0.00,NaN
1662,Gene Swindle,0.00,0.0,1.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00,0.0,1.0,0.00,0.00,0.00,0.00,NaN
1663,Mark Warren,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.0,0.0,NaN,NaN,0.00,0.00,NaN
1664,Gill Williamson,0.00,0.0,1.00,0.50,0.50,0.00,0.50,0.00,2.00,2.50,0.0,0.5,0.00,0.00,0.00,0.00,NaN
1665,Bartosz Lewandowski,0.00,0.0,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.0,0.0,NaN,NaN,0.00,0.00,NaN

In [21]:
career_avg_df = career_avg_df[career_avg_df['g'] > 20]
career_avg_df = career_avg_df[career_avg_df['mp'] > 15]

In [22]:
career_avg_df

,player,pts,ast,trb,orb,drb,stl,blk,tov,g,mp,fg,fga,fg%,efg%,ft,fta,ft%
0,Zion Williamson,22.60,2.10,8.90,3.50,5.40,2.10,1.80,2.40,33.00,30.00,9.00,13.20,0.68,0.71,3.90,6.20,0.64
1,R.J. Barrett,22.60,4.30,7.60,1.60,6.00,0.90,0.40,3.20,38.00,35.30,8.40,18.50,0.45,0.51,3.90,5.90,0.66
2,Marvin Bagley III,21.00,1.50,11.10,4.00,7.10,0.80,0.90,2.30,33.00,33.90,8.20,13.30,0.61,0.64,4.00,6.30,0.63
3,Tyler Hansbrough,20.15,1.10,8.50,3.40,5.15,1.25,0.48,2.10,35.50,30.90,6.60,12.30,0.54,0.54,6.88,8.72,0.79
4,J.J. Redick,19.88,2.20,2.72,0.48,2.22,1.10,0.10,2.12,34.75,34.05,5.90,13.70,0.43,0.55,4.75,5.22,0.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,Anthony Mack,2.60,0.70,1.00,0.20,0.80,0.40,0.10,0.50,28.00,15.40,0.90,3.10,0.30,0.40,0.10,0.10,0.75
1065,Markus Sailes,2.03,1.17,1.47,0.50,0.90,0.67,0.07,0.53,22.00,15.10,0.73,1.67,0.30,0.31,0.53,1.03,0.51
1071,Greg Gantt,2.00,0.40,4.50,1.40,3.10,0.90,0.50,0.50,22.00,17.50,0.80,1.90,0.43,0.45,0.20,0.30,0.71
1072,Marques Johnson,2.00,1.20,1.60,0.20,1.40,0.30,0.20,1.40,21.00,15.10,0.70,1.80,0.38,0.45,0.40,0.70,0.57
1100,Baye Moussa Keita,1.80,0.30,3.80,2.20,1.70,0.40,0.90,0.80,32.00,15.50,0.80,1.50,0.50,0.50,0.30,0.60,0.56

In [23]:
career_avg_df.to_csv('acc_career_avg_.csv')