In [33]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import time

# PAC-10 Scrape

In [34]:
base_url = "https://www.sports-reference.com/cbb/conferences/pac-10/men/{}-stats.html"

# years to scrape, pac 12 used to be pac 10 so I'll just merge the pac10 and pac 12 dataframes together
years = list(range(2003, 2012))  # 2003 to 2011

# columns to scrape
columns = ["Player", "Team", "Pos", 'PTS', 'AST', "TRB", 'ORB', 'DRB', 
'STL', 'BLK', 'TOV', "G", "MP", "FG", "FGA", "FG%", "eFG%", 'FT', 'FTA', 'FT%']

# empty DataFrame to hold all data
all_data = pd.DataFrame()

In [35]:
# Loop through each year and scrape data
for year in years:
    url = base_url.format(year)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Find the table
    tables = soup.find_all('table')
    
    # read table into a dataframe
    df = pd.read_html(str(tables))[0]
    
    
    # select columns 
    df = df[columns]
    
    # add a column for year
    df["Year"] = year
    
    # append to main DataFrame
    all_data = pd.concat([all_data, df])
    
    # rate limiting so I don't break this server
    time.sleep(1)

# Reset the index of the final DataFrame
all_data.reset_index(drop=True, inplace=True)

/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_1302/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]

In [36]:
all_data

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Joe Shipp,California,F,20.4,2.3,6.1,1.9,4.2,0.9,0.7,...,31.0,35.4,7.8,15.0,0.518,0.561,3.5,4.7,0.759,2003
1,Luke Ridnour,Oregon,G,19.7,6.6,3.4,0.6,2.8,1.9,0.1,...,33.0,35.4,6.2,14.2,0.432,0.518,4.9,5.6,0.880,2003
2,Ike Diogu,Arizona State,F,19.0,0.8,7.8,3.1,4.7,0.3,1.0,...,32.0,32.2,6.5,10.8,0.608,0.621,5.6,7.7,0.735,2003
3,Desmon Farmer,Southern California,G,18.7,1.8,4.8,2.1,2.6,0.9,0.1,...,30.0,32.6,6.1,15.1,0.401,0.470,4.5,5.4,0.828,2003
4,Marcus Moore,Washington State,G,18.2,4.7,5.4,0.6,4.8,1.7,0.3,...,18.0,33.8,5.6,16.1,0.349,0.427,4.5,6.0,0.750,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,Alex Schrempf,UCLA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2011
1260,Jack Haley,UCLA,G,0.0,0.0,1.0,0.5,0.5,0.5,0.0,...,2.0,2.0,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2011
1261,Matt DeMarcus,UCLA,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.7,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2011
1262,Chris McNamara,Washington State,C,0.0,0.2,0.2,0.0,0.2,0.0,0.0,...,5.0,1.8,0.0,0.2,0.000,0.000,0.0,0.0,NaN,2011
1263,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.447,0.506,NaN,NaN,0.690,2011

In [37]:
season_avg_df = all_data[all_data['Player'] != 'League Average']

In [38]:
season_avg_df

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Joe Shipp,California,F,20.4,2.3,6.1,1.9,4.2,0.9,0.7,...,31.0,35.4,7.8,15.0,0.518,0.561,3.5,4.7,0.759,2003
1,Luke Ridnour,Oregon,G,19.7,6.6,3.4,0.6,2.8,1.9,0.1,...,33.0,35.4,6.2,14.2,0.432,0.518,4.9,5.6,0.880,2003
2,Ike Diogu,Arizona State,F,19.0,0.8,7.8,3.1,4.7,0.3,1.0,...,32.0,32.2,6.5,10.8,0.608,0.621,5.6,7.7,0.735,2003
3,Desmon Farmer,Southern California,G,18.7,1.8,4.8,2.1,2.6,0.9,0.1,...,30.0,32.6,6.1,15.1,0.401,0.470,4.5,5.4,0.828,2003
4,Marcus Moore,Washington State,G,18.2,4.7,5.4,0.6,4.8,1.7,0.3,...,18.0,33.8,5.6,16.1,0.349,0.427,4.5,6.0,0.750,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1258,Doug Mills,Stanford,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2011
1259,Alex Schrempf,UCLA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2011
1260,Jack Haley,UCLA,G,0.0,0.0,1.0,0.5,0.5,0.5,0.0,...,2.0,2.0,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2011
1261,Matt DeMarcus,UCLA,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.7,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2011
1262,Chris McNamara,Washington State,C,0.0,0.2,0.2,0.0,0.2,0.0,0.0,...,5.0,1.8,0.0,0.2,0.000,0.000,0.0,0.0,NaN,2011

In [39]:
season_avg_df.columns

Index(['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB', 'STL',
       'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA', 'FT%',
       'Year'],
      dtype='object')

In [40]:
new_column = ['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB',
       'STL', 'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA',
       'FT%', 'Year']

In [41]:
new_column = [column.lower() for column in new_column]

In [42]:
season_avg_df.columns = new_column

In [43]:
season_avg_df

,player,team,pos,pts,ast,trb,orb,drb,stl,blk,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
0,Joe Shipp,California,F,20.4,2.3,6.1,1.9,4.2,0.9,0.7,...,31.0,35.4,7.8,15.0,0.518,0.561,3.5,4.7,0.759,2003
1,Luke Ridnour,Oregon,G,19.7,6.6,3.4,0.6,2.8,1.9,0.1,...,33.0,35.4,6.2,14.2,0.432,0.518,4.9,5.6,0.880,2003
2,Ike Diogu,Arizona State,F,19.0,0.8,7.8,3.1,4.7,0.3,1.0,...,32.0,32.2,6.5,10.8,0.608,0.621,5.6,7.7,0.735,2003
3,Desmon Farmer,Southern California,G,18.7,1.8,4.8,2.1,2.6,0.9,0.1,...,30.0,32.6,6.1,15.1,0.401,0.470,4.5,5.4,0.828,2003
4,Marcus Moore,Washington State,G,18.2,4.7,5.4,0.6,4.8,1.7,0.3,...,18.0,33.8,5.6,16.1,0.349,0.427,4.5,6.0,0.750,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1258,Doug Mills,Stanford,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2011
1259,Alex Schrempf,UCLA,F,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.7,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2011
1260,Jack Haley,UCLA,G,0.0,0.0,1.0,0.5,0.5,0.5,0.0,...,2.0,2.0,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2011
1261,Matt DeMarcus,UCLA,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.7,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2011
1262,Chris McNamara,Washington State,C,0.0,0.2,0.2,0.0,0.2,0.0,0.0,...,5.0,1.8,0.0,0.2,0.000,0.000,0.0,0.0,NaN,2011

In [44]:
numeric_columns = ['pts', 'ast','trb', 'orb','drb', 'stl',
 'blk','tov','g','mp','fg','fga','fg%','efg%','ft','fta','ft%']

In [45]:
career_avg_df = season_avg_df.groupby('player').agg(
    {column: 'mean' for column in numeric_columns}
).reset_index()

In [46]:
career_avg_df = career_avg_df.round(2)

In [47]:
career_avg_df = career_avg_df.sort_values(by = 'pts', ascending = False).reset_index(drop = True)

In [48]:
pac_12_career_avg_df = career_avg_df

In [49]:
pac_12_career_avg_df = career_avg_df

In [50]:
career_avg_df

,player,pts,ast,trb,orb,drb,stl,blk,tov,g,mp,fg,fga,fg%,efg%,ft,fta,ft%
0,Ike Diogu,21.47,1.23,8.83,3.37,5.47,0.47,1.67,3.37,30.33,35.17,6.77,11.9,0.57,0.59,7.47,9.47,0.78
1,O.J. Mayo,20.70,3.30,4.50,1.10,3.50,1.50,0.40,3.50,33.00,36.80,7.20,16.2,0.44,0.52,3.70,4.60,0.80
2,Joe Shipp,20.40,2.30,6.10,1.90,4.20,0.90,0.70,1.90,31.00,35.40,7.80,15.0,0.52,0.56,3.50,4.70,0.76
3,Luke Ridnour,19.70,6.60,3.40,0.60,2.80,1.90,0.10,3.90,33.00,35.40,6.20,14.2,0.43,0.52,4.90,5.60,0.88
4,Jerryd Bayless,19.70,4.00,2.70,0.40,2.30,1.00,0.10,3.00,30.00,35.70,5.80,12.6,0.46,0.54,6.20,7.40,0.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,Tavita Pritchard,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,2.00,0.00,0.0,NaN,NaN,0.00,0.00,NaN
569,Daniel Munoz,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.00,1.70,0.00,0.0,NaN,NaN,0.00,0.00,NaN
570,Terry Ayers,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.30,3.00,2.70,0.00,0.0,NaN,NaN,0.00,0.00,NaN
571,Curtis Washington,0.00,0.00,0.30,0.30,0.00,0.00,0.00,0.00,3.00,3.70,0.00,0.0,NaN,NaN,0.00,0.00,NaN
572,Joey Ellis,0.00,1.00,1.00,0.00,1.00,0.00,0.00,0.00,1.00,2.00,0.00,1.0,0.00,0.00,0.00,0.00,NaN

In [51]:
career_avg_df['g'].mean(), career_avg_df['mp'].mean()

(np.float64(21.459476439790574), np.float64(14.891346153846154))

In [52]:
career_avg_df = career_avg_df[career_avg_df['g'] > 20]

In [53]:
career_avg_df = career_avg_df[career_avg_df['mp'] > 14]

In [54]:
career_avg_df

,player,pts,ast,trb,orb,drb,stl,blk,tov,g,mp,fg,fga,fg%,efg%,ft,fta,ft%
0,Ike Diogu,21.47,1.23,8.83,3.37,5.47,0.47,1.67,3.37,30.33,35.17,6.77,11.90,0.57,0.59,7.47,9.47,0.78
1,O.J. Mayo,20.70,3.30,4.50,1.10,3.50,1.50,0.40,3.50,33.00,36.80,7.20,16.20,0.44,0.52,3.70,4.60,0.80
2,Joe Shipp,20.40,2.30,6.10,1.90,4.20,0.90,0.70,1.90,31.00,35.40,7.80,15.00,0.52,0.56,3.50,4.70,0.76
3,Luke Ridnour,19.70,6.60,3.40,0.60,2.80,1.90,0.10,3.90,33.00,35.40,6.20,14.20,0.43,0.52,4.90,5.60,0.88
4,Jerryd Bayless,19.70,4.00,2.70,0.40,2.30,1.00,0.10,3.00,30.00,35.70,5.80,12.60,0.46,0.54,6.20,7.40,0.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,A.J. Diggs,2.60,2.00,2.05,0.55,1.45,1.65,0.00,1.15,29.00,18.35,0.75,2.35,0.33,0.36,0.95,1.50,0.64
335,Ryan Walcott,2.50,2.05,1.25,0.15,1.10,0.60,0.00,1.40,26.00,14.90,0.75,2.50,0.30,0.34,0.65,0.95,0.66
339,Jay Anderson,2.45,0.40,1.90,0.55,1.35,0.30,0.30,0.60,32.00,14.75,0.90,2.20,0.40,0.43,0.60,0.80,0.70
350,Conor Famulener,2.25,0.80,2.55,0.65,1.85,0.45,0.15,0.75,29.00,14.65,0.90,1.85,0.45,0.50,0.30,0.45,0.66
360,Anthony Grant,2.10,0.50,1.10,0.20,0.90,0.30,0.10,0.60,27.00,14.90,0.70,2.80,0.25,0.34,0.20,0.40,0.55

In [55]:
career_avg_df.to_csv('pac_10_career_avg_.csv')