In [3]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import time

# PAC-12 Scrape

In [4]:
base_url = "https://www.sports-reference.com/cbb/conferences/pac-12/men/{}-stats.html"

# years to scrape
years = list(range(2012, 2024))  # 2012 to 2023

# columns to scrape
columns = ["Player", "Team", "Pos", 'PTS', 'AST', "TRB", 'ORB', 'DRB', 
'STL', 'BLK', 'TOV', "G", "MP", "FG", "FGA", "FG%", "eFG%", 'FT', 'FTA', 'FT%']

# empty DataFrame to hold all data
all_data = pd.DataFrame()

In [5]:
# Loop through each year and scrape data
for year in years:
    url = base_url.format(year)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Find the table
    tables = soup.find_all('table')
    
    # read table into a dataframe
    df = pd.read_html(str(tables))[0]
    
    
    # select columns 
    df = df[columns]
    
    # add a column for year
    df["Year"] = year
    
    # append to main DataFrame
    all_data = pd.concat([all_data, df])
    
    # rate limiting so I don't break this server
    time.sleep(1)

# Reset the index of the final DataFrame
all_data.reset_index(drop=True, inplace=True)

/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]
/var/folders/_6/yfw0v_fd27l4wlzfqpq38b7m0000gn/T/ipykernel_12843/971916482.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables))[0]

In [6]:
all_data

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Brock Motum,Washington State,F,18.0,1.6,6.4,1.8,4.5,0.6,0.4,...,34.0,31.5,6.5,11.7,0.554,0.591,4.2,5.7,0.738,2012
1,Jared Cunningham,Oregon State,G,17.9,2.8,3.8,1.0,2.8,2.5,0.4,...,36.0,34.6,5.5,12.2,0.450,0.507,5.5,7.5,0.737,2012
2,Devoe Joseph,Oregon,G,16.7,3.3,3.8,0.6,3.1,1.4,0.1,...,28.0,35.3,5.9,12.5,0.473,0.567,2.5,3.1,0.795,2012
3,Terrence Ross,Washington,G,16.4,1.4,6.4,1.4,5.1,1.3,0.9,...,35.0,31.1,6.1,13.4,0.457,0.534,2.1,2.7,0.766,2012
4,Tony Wroten,Washington,G,16.0,3.7,5.0,2.3,2.7,1.9,0.4,...,35.0,30.3,5.7,12.8,0.443,0.453,4.4,7.5,0.583,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Anthony Iglesia,Washington,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.8,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
2055,Sam Slutske,Washington,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.5,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
2056,AJ Rohosy,Washington State,F,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,3.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
2057,Ben Olesen,Washington State,G,0.0,0.0,0.2,0.0,0.2,0.0,0.0,...,5.0,1.8,0.0,0.8,0.000,0.000,0.0,0.0,NaN,2023
2058,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.439,0.500,NaN,NaN,0.716,2023

In [7]:
season_avg_df = all_data[all_data['Player'] != 'League Average']

In [8]:
season_avg_df

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Brock Motum,Washington State,F,18.0,1.6,6.4,1.8,4.5,0.6,0.4,...,34.0,31.5,6.5,11.7,0.554,0.591,4.2,5.7,0.738,2012
1,Jared Cunningham,Oregon State,G,17.9,2.8,3.8,1.0,2.8,2.5,0.4,...,36.0,34.6,5.5,12.2,0.450,0.507,5.5,7.5,0.737,2012
2,Devoe Joseph,Oregon,G,16.7,3.3,3.8,0.6,3.1,1.4,0.1,...,28.0,35.3,5.9,12.5,0.473,0.567,2.5,3.1,0.795,2012
3,Terrence Ross,Washington,G,16.4,1.4,6.4,1.4,5.1,1.3,0.9,...,35.0,31.1,6.1,13.4,0.457,0.534,2.1,2.7,0.766,2012
4,Tony Wroten,Washington,G,16.0,3.7,5.0,2.3,2.7,1.9,0.4,...,35.0,30.3,5.7,12.8,0.443,0.453,4.4,7.5,0.583,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053,Hunter Mecum,Utah,F,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,2.0,1.0,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2023
2054,Anthony Iglesia,Washington,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.8,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
2055,Sam Slutske,Washington,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.5,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
2056,AJ Rohosy,Washington State,F,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,3.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
2057,Ben Olesen,Washington State,G,0.0,0.0,0.2,0.0,0.2,0.0,0.0,...,5.0,1.8,0.0,0.8,0.000,0.000,0.0,0.0,NaN,2023

In [9]:
season_avg_df.columns

Index(['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB', 'STL',
       'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA', 'FT%',
       'Year'],
      dtype='object')

In [10]:
new_column = ['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB',
       'STL', 'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA',
       'FT%', 'Year']

In [11]:
new_column = [column.lower() for column in new_column]

In [12]:
season_avg_df.columns = new_column

In [13]:
season_avg_df

,player,team,pos,pts,ast,trb,orb,drb,stl,blk,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
0,Brock Motum,Washington State,F,18.0,1.6,6.4,1.8,4.5,0.6,0.4,...,34.0,31.5,6.5,11.7,0.554,0.591,4.2,5.7,0.738,2012
1,Jared Cunningham,Oregon State,G,17.9,2.8,3.8,1.0,2.8,2.5,0.4,...,36.0,34.6,5.5,12.2,0.450,0.507,5.5,7.5,0.737,2012
2,Devoe Joseph,Oregon,G,16.7,3.3,3.8,0.6,3.1,1.4,0.1,...,28.0,35.3,5.9,12.5,0.473,0.567,2.5,3.1,0.795,2012
3,Terrence Ross,Washington,G,16.4,1.4,6.4,1.4,5.1,1.3,0.9,...,35.0,31.1,6.1,13.4,0.457,0.534,2.1,2.7,0.766,2012
4,Tony Wroten,Washington,G,16.0,3.7,5.0,2.3,2.7,1.9,0.4,...,35.0,30.3,5.7,12.8,0.443,0.453,4.4,7.5,0.583,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053,Hunter Mecum,Utah,F,0.0,0.0,0.0,0.0,0.0,0.5,0.0,...,2.0,1.0,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2023
2054,Anthony Iglesia,Washington,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.8,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
2055,Sam Slutske,Washington,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.5,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
2056,AJ Rohosy,Washington State,F,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,3.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
2057,Ben Olesen,Washington State,G,0.0,0.0,0.2,0.0,0.2,0.0,0.0,...,5.0,1.8,0.0,0.8,0.000,0.000,0.0,0.0,NaN,2023

In [14]:
numeric_columns = ['pts', 'ast','trb', 'orb','drb', 'stl',
 'blk','tov','g','mp','fg','fga','fg%','efg%','ft','fta','ft%']

In [15]:
career_avg_df = season_avg_df.groupby('player').agg(
    {column: 'mean' for column in numeric_columns}
).reset_index()

In [16]:
career_avg_df = career_avg_df.round(2)

In [17]:
career_avg_df = career_avg_df.sort_values(by = 'pts', ascending = False).reset_index(drop = True)

In [18]:
pac_12_career_avg_df = career_avg_df

In [19]:
pac_12_career_avg_df = career_avg_df

In [20]:
career_avg_df

,player,pts,ast,trb,orb,drb,stl,blk,tov,g,mp,fg,fga,fg%,efg%,ft,fta,ft%
0,Markelle Fultz,23.2,5.90,5.7,1.30,4.4,1.6,1.2,3.20,25.0,35.7,8.40,17.6,0.48,0.54,4.4,6.70,0.65
1,Bol Bol,21.0,1.00,9.6,2.10,7.4,0.8,2.7,2.00,9.0,29.8,8.20,14.7,0.56,0.61,3.1,4.10,0.76
2,Deandre Ayton,20.1,1.60,11.6,3.40,8.2,0.6,1.9,2.00,35.0,33.5,7.90,12.9,0.61,0.62,4.0,5.50,0.73
3,Joe Young,19.8,2.85,3.6,0.65,3.0,1.2,0.0,1.75,35.0,33.9,6.75,14.5,0.46,0.55,4.0,4.45,0.90
4,Torian Graham,18.6,1.20,4.2,0.60,3.6,0.9,0.3,1.30,33.0,34.8,7.00,15.5,0.45,0.55,1.4,1.70,0.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,Alex Seutin,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,3.0,3.3,0.00,0.3,0.00,0.00,0.0,0.00,NaN
1013,Brian Crow,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,7.0,2.3,0.00,0.4,0.00,0.00,0.0,0.00,NaN
1014,Kyle Blaser,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,4.0,0.8,0.00,0.3,0.00,0.00,0.0,0.00,NaN
1015,A.J. Lapray,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.00,2.0,2.5,0.00,0.5,0.00,0.00,0.0,0.00,NaN
1016,Isaac Barnes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
career_avg_df['mp'].mean(), career_avg_df['g'].mean()

(np.float64(15.677893175074182), np.float64(22.230511307767944))

In [22]:
career_avg_df = career_avg_df[career_avg_df['g'] > 20]

In [23]:
career_avg_df = career_avg_df[career_avg_df['mp'] > 15]

In [24]:
career_avg_df

,player,pts,ast,trb,orb,drb,stl,blk,tov,g,mp,fg,fga,fg%,efg%,ft,fta,ft%
0,Markelle Fultz,23.20,5.90,5.70,1.30,4.40,1.60,1.20,3.20,25.0,35.7,8.40,17.60,0.48,0.54,4.4,6.70,0.65
2,Deandre Ayton,20.10,1.60,11.60,3.40,8.20,0.60,1.90,2.00,35.0,33.5,7.90,12.90,0.61,0.62,4.0,5.50,0.73
3,Joe Young,19.80,2.85,3.60,0.65,3.00,1.20,0.00,1.75,35.0,33.9,6.75,14.50,0.46,0.55,4.0,4.45,0.90
4,Torian Graham,18.60,1.20,4.20,0.60,3.60,0.90,0.30,1.30,33.0,34.8,7.00,15.50,0.45,0.55,1.4,1.70,0.82
5,Jahii Carson,18.55,4.85,3.85,0.60,3.25,0.95,0.10,3.50,34.0,36.3,6.50,14.35,0.45,0.49,4.5,6.25,0.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Tyrone Nared,2.90,0.80,3.00,1.00,2.00,0.60,0.60,0.80,28.0,15.9,0.90,2.20,0.41,0.48,0.8,1.10,0.73
601,Chris Osten,2.70,0.20,2.30,1.10,1.30,0.20,0.70,0.40,24.0,16.0,1.20,2.00,0.60,0.60,0.4,1.00,0.39
607,Ny Redding,2.65,2.35,1.40,0.20,1.20,0.35,0.05,1.35,30.0,15.7,0.80,2.10,0.35,0.39,1.0,1.25,0.77
613,Brandon Smith,2.60,1.95,1.30,0.40,0.95,0.65,0.00,1.40,29.0,16.8,0.90,2.65,0.34,0.38,0.6,1.00,0.62
644,Lazar Nikolic,2.30,1.00,2.30,0.40,2.00,0.30,0.20,0.90,31.0,15.5,0.90,2.30,0.38,0.44,0.3,0.70,0.48

In [26]:
pac_12_career_avg_df.to_csv('pac_12_career_avg.csv')