In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('season_avg_df.csv', index_col=0)

In [16]:
df.head()

,player,age,team,pos,pts,ast,trb,orb,drb,stl,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
0,Tracy McGrady,23.0,ORL,SG,32.1,5.5,6.5,1.6,4.9,1.7,...,75.0,39.4,11.1,24.2,0.457,0.505,7.7,9.7,0.793,2003
1,Kobe Bryant,24.0,LAL,SG,30.0,5.9,6.9,1.3,5.6,2.2,...,82.0,41.5,10.6,23.5,0.451,0.483,7.3,8.7,0.843,2003
2,Allen Iverson,27.0,PHI,SG,27.6,5.5,4.2,0.8,3.4,2.7,...,82.0,42.5,9.8,23.7,0.414,0.436,7.0,9.0,0.774,2003
3,Shaquille O'Neal,30.0,LAL,C,27.5,3.1,11.1,3.9,7.2,0.6,...,67.0,37.8,10.4,18.1,0.574,0.574,6.7,10.8,0.622,2003
4,Paul Pierce,25.0,BOS,SG,25.9,4.4,7.3,1.3,6.0,1.8,...,79.0,39.2,8.4,20.2,0.416,0.454,7.6,9.5,0.802,2003

In [17]:
df.sort_values(['player', 'year'], ascending=False)

,player,age,team,pos,pts,ast,trb,orb,drb,stl,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
1901,Šarūnas Jasikevičius,29.0,IND,PG,7.3,3.0,2.0,0.3,1.8,0.5,...,75.0,20.8,2.3,5.7,0.396,0.497,1.6,1.8,0.910,2006
7152,Ömer Aşık,28.0,NOP,C,7.3,0.9,9.8,3.2,6.6,0.4,...,76.0,26.1,2.8,5.4,0.517,0.517,1.7,3.0,0.582,2015
6567,Ömer Aşık,27.0,HOU,C,5.8,0.5,7.9,2.1,5.8,0.3,...,48.0,20.2,2.1,4.0,0.532,0.532,1.6,2.6,0.619,2014
5836,Ömer Aşık,26.0,HOU,C,10.1,0.9,11.7,3.4,8.3,0.6,...,82.0,30.0,4.0,7.5,0.541,0.541,2.0,3.6,0.562,2013
4193,Zydrunas Ilgauskas,34.0,CLE,C,7.4,0.8,5.4,1.8,3.6,0.2,...,64.0,20.9,3.0,6.8,0.443,0.455,1.2,1.6,0.743,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3940,Aaron Brooks,25.0,HOU,PG,19.6,5.3,2.6,0.7,2.0,0.8,...,82.0,35.6,7.0,16.2,0.432,0.511,3.0,3.6,0.822,2010
3500,Aaron Brooks,24.0,HOU,PG,11.2,3.0,2.0,0.4,1.6,0.6,...,80.0,25.0,4.0,9.8,0.404,0.476,1.9,2.2,0.866,2009
12495,AJ Griffin,19.0,ATL,SF,8.9,1.0,2.1,0.5,1.6,0.6,...,72.0,19.5,3.4,7.4,0.465,0.560,0.6,0.7,0.894,2023
7281,A.J. Price,28.0,IND,PG,10.5,2.7,1.4,0.2,1.2,0.4,...,10.0,19.3,3.9,8.9,0.438,0.522,1.2,1.8,0.667,2015
5904,A.J. Price,26.0,WAS,PG,7.7,3.6,2.0,0.4,1.6,0.6,...,57.0,22.4,2.8,7.2,0.390,0.475,0.9,1.1,0.790,2013

In [18]:
first_four_seasons = df.groupby('player').head(4)

In [19]:
# rookie_contract_df = first_four_seasons.groupby('player').agg({
#     'pts': 'mean',
#     'ast': 'mean',
#     'trb': 'mean'
#     }).reset_index()

In [20]:
rookie_contract_df = first_four_seasons[['player', 'pts', 'ast', 'trb', 'year','age', ]]

In [21]:
rookie_contract_df = rookie_contract_df.sort_values('player').reset_index(drop = True)

In [22]:
rookie_contract_df

                    player   pts  ast   trb  year   age
0               A.J. Price   7.7  3.6   2.0  2013  26.0
1               A.J. Price  10.5  2.7   1.4  2015  28.0
2               AJ Griffin   8.9  1.0   2.1  2023  19.0
3             Aaron Brooks  10.7  3.9   1.3  2011  26.0
4             Aaron Brooks  11.6  3.8   1.5  2011  26.0
...                    ...   ...  ...   ...   ...   ...
3352    Zydrunas Ilgauskas  15.3  1.3   8.1  2004  28.0
3353             Ömer Aşık  10.1  0.9  11.7  2013  26.0
3354             Ömer Aşık   5.8  0.5   7.9  2014  27.0
3355             Ömer Aşık   7.3  0.9   9.8  2015  28.0
3356  Šarūnas Jasikevičius   7.3  3.0   2.0  2006  29.0

[3357 rows x 6 columns]

In [23]:
rookie_contract_df[rookie_contract_df['player'] == 'LeBron James']

            player   pts  ast  trb  year   age
2071  LeBron James  27.2  7.2  7.4  2005  20.0
2072  LeBron James  20.9  5.9  5.5  2004  19.0
2073  LeBron James  27.3  6.0  6.7  2007  22.0
2074  LeBron James  31.4  6.6  7.0  2006  21.0

In [24]:
rookie_contract_df[rookie_contract_df['player'] == 'Stephen Curry']

             player   pts  ast  trb  year   age
2956  Stephen Curry  18.6  5.8  3.9  2011  22.0
2957  Stephen Curry  14.7  5.3  3.4  2012  23.0
2958  Stephen Curry  22.9  6.9  4.0  2013  24.0
2959  Stephen Curry  17.5  5.9  4.5  2010  21.0

In [25]:
rookie_contract_df.to_csv('first_four_seasons_csv')