In [130]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen

I decided to scrape for my data instead. I'm using Basketball Reference and importing their tables.

In [131]:
import requests
import time

In [132]:
# Fetch the URL
url = 'https://www.basketball-reference.com/leagues/NBA_2024_per_game.html'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [133]:
# Find the table
table = soup.find("table", {"id": "per_game_stats"})
df = pd.read_html(str(table))[0]

In [134]:
df.head()

,Rk,Player,Age,Team,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,1.0,Joel Embiid,29.0,PHI,C,39.0,39.0,33.6,11.5,21.8,...,2.4,8.6,11.0,5.6,1.2,1.7,3.8,2.9,34.7,AS
1,2.0,Luka Dončić,24.0,DAL,PG,70.0,70.0,37.5,11.5,23.6,...,0.8,8.4,9.2,9.8,1.4,0.5,4.0,2.1,33.9,"MVP-3,CPOY-6,AS,NBA1"
2,3.0,Giannis Antetokounmpo,29.0,MIL,PF,73.0,73.0,35.2,11.5,18.8,...,2.7,8.8,11.5,6.5,1.2,1.1,3.4,2.9,30.4,"MVP-4,DPOY-9,CPOY-12,AS,NBA1"
3,4.0,Shai Gilgeous-Alexander,25.0,OKC,PG,75.0,75.0,34.0,10.6,19.8,...,0.9,4.7,5.5,6.2,2.0,0.9,2.2,2.5,30.1,"MVP-2,DPOY-7,CPOY-3,AS,NBA1"
4,5.0,Jalen Brunson,27.0,NYK,PG,77.0,77.0,35.4,10.3,21.4,...,0.6,3.1,3.6,6.7,0.9,0.2,2.4,1.9,28.7,"MVP-5,CPOY-5,AS,NBA2"

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      735 non-null    float64
 1   Player  736 non-null    object
 2   Age     735 non-null    float64
 3   Team    735 non-null    object
 4   Pos     735 non-null    object
 5   G       735 non-null    float64
 6   GS      735 non-null    float64
 7   MP      735 non-null    float64
 8   FG      735 non-null    float64
 9   FGA     735 non-null    float64
 10  FG%     728 non-null    float64
 11  3P      735 non-null    float64
 12  3PA     735 non-null    float64
 13  3P%     690 non-null    float64
 14  2P      735 non-null    float64
 15  2PA     735 non-null    float64
 16  2P%     723 non-null    float64
 17  eFG%    728 non-null    float64
 18  FT      735 non-null    float64
 19  FTA     735 non-null    float64
 20  FT%     677 non-null    float64
 21  ORB     735 non-null    float64
 22  DRB     735 non-null    float64
 23  TRB     735 non-null    float64
 24  AST     735 non-null    float64
 25  STL     735 non-null    float64
 26  BLK     735 non-null    float64
 27  TOV     735 non-null    float64
 28  PF      735 non-null    float64
 29  PTS     735 non-null    float64
 30  Awards  55 non-null     object
dtypes: float64(27), object(4)
memory usage: 178.4+ KB

In [136]:
df.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Awards'],
      dtype='object')

In [137]:
features = ["Player", "Age", "Team", "Pos", 'PTS', 'AST', "TRB", 'ORB', 'DRB', 'STL', 'BLK', 'TOV', "G", "MP", "FG", "FGA", "FG%", "eFG%", 'FT', 'FTA', 'FT%']

In [138]:
df = df[features]

There were some columns that I didn't need and I want some columns arranged in a particular way

In [139]:
df["Year"] = 2024

In [140]:
df

,Player,Age,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Joel Embiid,29.0,PHI,C,34.7,5.6,11.0,2.4,8.6,1.2,...,39.0,33.6,11.5,21.8,0.529,0.561,10.2,11.6,0.883,2024
1,Luka Dončić,24.0,DAL,PG,33.9,9.8,9.2,0.8,8.4,1.4,...,70.0,37.5,11.5,23.6,0.487,0.573,6.8,8.7,0.786,2024
2,Giannis Antetokounmpo,29.0,MIL,PF,30.4,6.5,11.5,2.7,8.8,1.2,...,73.0,35.2,11.5,18.8,0.611,0.624,7.0,10.7,0.657,2024
3,Shai Gilgeous-Alexander,25.0,OKC,PG,30.1,6.2,5.5,0.9,4.7,2.0,...,75.0,34.0,10.6,19.8,0.535,0.567,7.6,8.7,0.874,2024
4,Jalen Brunson,27.0,NYK,PG,28.7,6.7,3.6,0.6,3.1,0.9,...,77.0,35.4,10.3,21.4,0.479,0.543,5.5,6.5,0.847,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,Ron Harper Jr.,23.0,TOR,PF,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,4.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2024
732,Justin Jackson,28.0,MIN,SF,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.5,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2024
733,Dmytro Skapintsev,25.0,NYK,C,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2024
734,Javonte Smart,24.0,PHI,PG,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2024
735,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.474,0.547,NaN,NaN,0.784,2024

Now that I have the basic workflow of scraping the data, I can start to scrape for multiple seasons/years of data. I'll basically put the workflow into a loop that starts from the 2014 season to current.

While thinking about scraping for college basketball data, I'm limiting the scope of the project once again by picking only one college conference, the Big 12. 

I also believe 2012 is a better point to start from because this was around the time the NBA began to evolve and attempt to shoot from beyond the arc. Starting from 2012, the increase in league average for 3 pointers attempted per season sky rocketed. (https://pmc.ncbi.nlm.nih.gov/articles/PMC9915101/#:~:text=In%201979%2C%20when%20the%20three,accessed%20on%201%20July%202019).)

In [141]:
base_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

# years to scrape
years = list(range(2003, 2024))  # 2003 to 2023

# columns to scrape
columns = ["Player", "Age", "Team", "Pos", 'PTS', 'AST', "TRB", 'ORB', 'DRB', 
'STL', 'BLK', 'TOV', "G", "MP", "FG", "FGA", "FG%", "eFG%", 'FT', 'FTA', 'FT%']

# empty DataFrame to hold all data
all_data = pd.DataFrame()

In [142]:
# Loop through each year and scrape data
for year in years:
    url = base_url.format(year)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Find the table
    table = soup.find("table", {"id": "per_game_stats"})
    
    # read table into a dataframe
    df = pd.read_html(str(table))[0]
    
    
    # select columns 
    df = df[columns]
    
    # add a column for year
    df["Year"] = year
    
    # append to main DataFrame
    all_data = pd.concat([all_data, df])
    
    # rate limiting so I don't break this server
    time.sleep(1)

# Reset the index of the final DataFrame
all_data.reset_index(drop=True, inplace=True)

In [143]:
all_data[all_data['Player'] == 'J.J. Reddick']

Empty DataFrame
Columns: [Player, Age, Team, Pos, PTS, AST, TRB, ORB, DRB, STL, BLK, TOV, G, MP, FG, FGA, FG%, eFG%, FT, FTA, FT%, Year]
Index: []

[0 rows x 22 columns]

In [144]:
all_data.tail()

,Player,Age,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
12906,Deonte Burton,29.0,SAC,PF,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,0.0,1.0,0.000,0.000,0.0,0.0,NaN,2023
12907,Michael Foster Jr.,20.0,PHI,PF,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
12908,Frank Jackson,24.0,UTA,PG,0.0,1.0,2.0,1.0,1.0,0.0,...,1.0,5.0,0.0,3.0,0.000,0.000,0.0,0.0,NaN,2023
12909,Alondes Williams,23.0,BRK,SG,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,5.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
12910,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.475,0.545,NaN,NaN,0.782,2023

I don't really need the league average row so I can just drop that.

In [145]:
season_avg_df = all_data[all_data['Player'] != 'League Average']

In [146]:
season_avg_df

,Player,Age,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Tracy McGrady,23.0,ORL,SG,32.1,5.5,6.5,1.6,4.9,1.7,...,75.0,39.4,11.1,24.2,0.457,0.505,7.7,9.7,0.793,2003
1,Kobe Bryant,24.0,LAL,SG,30.0,5.9,6.9,1.3,5.6,2.2,...,82.0,41.5,10.6,23.5,0.451,0.483,7.3,8.7,0.843,2003
2,Allen Iverson,27.0,PHI,SG,27.6,5.5,4.2,0.8,3.4,2.7,...,82.0,42.5,9.8,23.7,0.414,0.436,7.0,9.0,0.774,2003
3,Shaquille O'Neal,30.0,LAL,C,27.5,3.1,11.1,3.9,7.2,0.6,...,67.0,37.8,10.4,18.1,0.574,0.574,6.7,10.8,0.622,2003
4,Paul Pierce,25.0,BOS,SG,25.9,4.4,7.3,1.3,6.0,1.8,...,79.0,39.2,8.4,20.2,0.416,0.454,7.6,9.5,0.802,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12905,Sterling Brown,27.0,LAL,SF,0.0,0.5,2.0,0.8,1.3,0.8,...,4.0,6.0,0.0,1.0,0.000,0.000,0.0,0.0,NaN,2023
12906,Deonte Burton,29.0,SAC,PF,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,3.0,0.0,1.0,0.000,0.000,0.0,0.0,NaN,2023
12907,Michael Foster Jr.,20.0,PHI,PF,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023
12908,Frank Jackson,24.0,UTA,PG,0.0,1.0,2.0,1.0,1.0,0.0,...,1.0,5.0,0.0,3.0,0.000,0.000,0.0,0.0,NaN,2023
12909,Alondes Williams,23.0,BRK,SG,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,5.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2023

In [147]:
season_avg_df.columns

Index(['Player', 'Age', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB',
       'STL', 'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA',
       'FT%', 'Year'],
      dtype='object')

In [148]:
new_column = ['Player', 'Age', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB',
       'STL', 'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA',
       'FT%', 'Year']

In [149]:
new_column = [column.lower() for column in new_column]

In [150]:
season_avg_df.columns = new_column

In [151]:
season_avg_df['year'].unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [152]:
numeric_columns = ['pts', 'ast','trb', 'orb','drb', 'stl',
 'blk','tov','g','mp','fg','fga','fg%','efg%','ft','fta','ft%']

Instead of looking at everybody's season by season stats, I want to look at everybody's career averages. So I'll use groupby to get every player's averages on their statistics.

In [153]:
career_avg_df = season_avg_df.groupby('player').agg(
    {column: 'mean' for column in numeric_columns}
).reset_index()

Making sure everybody's statistics are only 2 decimal places

In [154]:
career_avg_df = career_avg_df.round(2)

Sorting values from greatest to least on points per game. 

Note LeBron at #4 at age 76

In [155]:
career_avg_df = career_avg_df.sort_values(by = 'pts', ascending = False).reset_index(drop = True)

In [156]:
career_avg_df

,player,pts,ast,trb,orb,drb,stl,blk,tov,g,mp,fg,fga,fg%,efg%,ft,fta,ft%
0,Luka Dončić,27.70,8.02,8.58,1.00,7.60,1.14,0.42,4.02,66.00,34.34,9.42,20.24,0.46,0.53,6.08,8.20,0.74
1,Kevin Durant,27.31,4.43,7.01,0.62,6.39,0.98,1.16,3.14,60.76,36.17,9.40,18.44,0.51,0.57,6.50,7.34,0.88
2,LeBron James,27.20,7.34,7.54,1.16,6.40,1.52,0.74,3.50,71.05,37.83,9.98,19.76,0.51,0.55,5.60,7.64,0.73
3,Joel Embiid,26.54,3.31,10.93,2.23,8.71,0.89,1.73,3.39,56.29,31.20,8.71,17.47,0.50,0.53,7.97,9.73,0.81
4,Kobe Bryant,26.06,5.16,5.43,1.00,4.41,1.46,0.39,3.36,66.57,37.04,9.02,20.54,0.44,0.47,6.48,7.72,0.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,A.J. Guyton,0.00,1.00,0.00,0.00,0.00,0.50,0.00,0.50,2.00,4.50,0.00,2.00,0.00,0.00,0.00,0.00,NaN
2134,Donny Marshall,0.00,0.00,1.00,0.00,1.00,0.00,0.00,0.30,3.00,2.00,0.00,1.00,0.00,0.00,0.00,0.00,NaN
2135,Feron Hunt,0.00,0.50,0.50,0.50,0.00,0.50,0.00,0.50,2.00,4.00,0.00,1.00,0.00,0.00,0.00,0.00,NaN
2136,Trey McKinney-Jones,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,0.00,0.00,NaN,NaN,0.00,0.00,NaN
2137,Jon Teske,0.00,0.30,0.70,0.00,0.70,0.30,0.00,0.00,3.00,2.70,0.00,0.30,0.00,0.00,0.00,0.70,0.00

I don't think I'll get rid of players at all since we want to look at every caliber of NBA player. To see if a college player will be a player with little or much impact. We'll deal with the outliers if we see them.

In [157]:
career_avg_df.to_csv('NBA_career_averages.csv')

Since doing the PRFAQ, I've realized that I wanted to predict player's first four seasons into the NBA. I need everybody's first four seasons in a dataset So I will derive that data from the season averages dataframe.

In [174]:
sorted_season_avg_df = season_avg_df.sort_values(by = ['player', 'year'], ascending=True).reset_index(drop= True)

In [175]:
sorted_season_avg_df

,player,age,team,pos,pts,ast,trb,orb,drb,stl,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
0,A.J. Green,23.0,MIL,SG,4.4,0.6,1.3,0.2,1.1,0.2,...,35.0,9.9,1.5,3.6,0.424,0.600,0.1,0.1,1.000,2023
1,A.J. Guyton,24.0,GSW,PG,0.0,1.0,0.0,0.0,0.0,0.5,...,2.0,4.5,0.0,2.0,0.000,0.000,0.0,0.0,NaN,2003
2,A.J. Hammons,24.0,DAL,C,2.2,0.2,1.6,0.4,1.3,0.0,...,22.0,7.4,0.8,1.9,0.405,0.464,0.4,0.9,0.450,2017
3,A.J. Lawson,22.0,2TM,SG,3.7,0.1,1.4,0.4,1.0,0.1,...,15.0,7.2,1.5,2.9,0.500,0.614,0.1,0.5,0.250,2023
4,A.J. Lawson,22.0,MIN,SG,2.0,0.0,1.0,0.0,1.0,0.0,...,1.0,2.0,1.0,1.0,1.000,1.000,0.0,0.0,NaN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12885,Željko Rebrača,31.0,2TM,C,3.8,0.3,2.4,1.0,1.5,0.2,...,24.0,11.4,1.4,3.2,0.442,0.442,1.0,1.3,0.767,2004
12886,Željko Rebrača,31.0,DET,C,3.1,0.2,2.3,0.9,1.4,0.2,...,21.0,10.6,1.0,2.6,0.407,0.407,1.0,1.3,0.786,2004
12887,Željko Rebrača,31.0,ATL,C,8.3,0.7,3.0,1.3,1.7,0.0,...,3.0,17.0,4.0,7.7,0.522,0.522,0.3,0.7,0.500,2004
12888,Željko Rebrača,32.0,LAC,C,5.8,0.4,3.2,0.8,2.3,0.2,...,58.0,16.0,2.3,4.0,0.568,0.568,1.3,1.5,0.859,2005
12889,Željko Rebrača,33.0,LAC,C,4.7,0.3,2.2,0.4,1.8,0.2,...,29.0,14.2,1.8,3.3,0.542,0.542,1.1,1.4,0.756,2006

In [180]:
first_four_seasons_df = sorted_season_avg_df.groupby('player').head(4)

In [181]:
first_four_seasons_df[first_four_seasons_df['player'] == 'LeBron James']

,player,age,team,pos,pts,ast,trb,orb,drb,stl,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
7717,LeBron James,19.0,CLE,SG,20.9,5.9,5.5,1.3,4.2,1.6,...,79.0,39.5,7.9,18.9,0.417,0.438,4.4,5.8,0.754,2004
7718,LeBron James,20.0,CLE,SF,27.2,7.2,7.4,1.4,6.0,2.2,...,80.0,42.4,9.9,21.1,0.472,0.504,6.0,8.0,0.750,2005
7719,LeBron James,21.0,CLE,SF,31.4,6.6,7.0,0.9,6.1,1.6,...,79.0,42.5,11.1,23.1,0.480,0.515,7.6,10.3,0.738,2006
7720,LeBron James,22.0,CLE,SF,27.3,6.0,6.7,1.1,5.7,1.6,...,78.0,40.9,9.9,20.8,0.476,0.507,6.3,9.0,0.698,2007

In [182]:
first_four_seasons_df.to_csv('first_four_seasons.csv')