In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import time

# SEC Scrape

In [2]:
base_url = "https://www.sports-reference.com/cbb/conferences/sec/men/{}-stats.html"

# years to scrape
years = list(range(2003, 2024))  # 2012 to 2023

# columns to scrape
columns = ["Player", "Team", "Pos", 'PTS', 'AST', "TRB", 'ORB', 'DRB', 
'STL', 'BLK', 'TOV', "G", "MP", "FG", "FGA", "FG%", "eFG%", 'FT', 'FTA', 'FT%']

# empty DataFrame to hold all data
all_data = pd.DataFrame()

In [3]:
# Loop through each year and scrape data
for year in years:
    url = base_url.format(year)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    # Find the table
    tables = soup.find_all('table')
    
    # read table into a dataframe
    df = pd.read_html(str(tables))[0]
    
    
    # select columns 
    df = df[columns]
    
    # add a column for year
    df["Year"] = year
    
    # append to main DataFrame
    all_data = pd.concat([all_data, df])
    
    # rate limiting so I don't break this server
    time.sleep(1)

# Reset the index of the final DataFrame
all_data.reset_index(drop=True, inplace=True)

In [4]:
all_data

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Ron Slay,Tennessee,F,21.2,2.1,7.8,1.6,6.2,0.7,0.1,...,29.0,34.2,7.3,15.0,0.486,0.536,5.2,6.7,0.782,2003
1,Marquis Daniels,Auburn,G,18.4,3.3,6.2,1.9,4.3,2.3,0.2,...,34.0,34.9,7.2,14.0,0.513,0.544,3.1,4.7,0.673,2003
2,Jarvis Hayes,Georgia,F,18.3,2.0,4.4,1.3,3.1,1.1,0.4,...,27.0,32.3,6.9,13.6,0.503,0.576,2.6,3.3,0.784,2003
3,Matt Freije,Vanderbilt,F,17.9,1.1,4.4,1.3,3.1,0.9,0.4,...,29.0,31.1,6.1,13.9,0.443,0.524,3.4,4.3,0.798,2003
4,Ezra Williams,Georgia,G,16.6,2.3,5.0,1.9,3.1,1.4,0.2,...,27.0,31.1,5.8,13.5,0.431,0.537,2.1,2.9,0.731,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,Alec Kegler,Tennessee,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.5,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2023
3844,Kent Gilbert,Tennessee,G,0.0,0.2,0.5,0.2,0.3,0.2,0.0,...,6.0,1.8,0.0,0.7,0.000,0.000,0.0,0.0,NaN,2023
3845,Adrian Samuels,Vanderbilt,G,0.0,0.0,0.0,0.0,0.0,0.0,0.3,...,3.0,2.3,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
3846,Graham Calton,Vanderbilt,G,0.0,0.3,0.2,0.2,0.0,0.2,0.0,...,6.0,5.0,0.0,0.7,0.000,0.000,0.0,0.0,NaN,2023
3847,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.434,0.495,NaN,NaN,0.711,2023

In [5]:
season_avg_df = all_data[all_data['Player'] != 'League Average']

In [6]:
season_avg_df

,Player,Team,Pos,PTS,AST,TRB,ORB,DRB,STL,BLK,...,G,MP,FG,FGA,FG%,eFG%,FT,FTA,FT%,Year
0,Ron Slay,Tennessee,F,21.2,2.1,7.8,1.6,6.2,0.7,0.1,...,29.0,34.2,7.3,15.0,0.486,0.536,5.2,6.7,0.782,2003
1,Marquis Daniels,Auburn,G,18.4,3.3,6.2,1.9,4.3,2.3,0.2,...,34.0,34.9,7.2,14.0,0.513,0.544,3.1,4.7,0.673,2003
2,Jarvis Hayes,Georgia,F,18.3,2.0,4.4,1.3,3.1,1.1,0.4,...,27.0,32.3,6.9,13.6,0.503,0.576,2.6,3.3,0.784,2003
3,Matt Freije,Vanderbilt,F,17.9,1.1,4.4,1.3,3.1,0.9,0.4,...,29.0,31.1,6.1,13.9,0.443,0.524,3.4,4.3,0.798,2003
4,Ezra Williams,Georgia,G,16.6,2.3,5.0,1.9,3.1,1.4,0.2,...,27.0,31.1,5.8,13.5,0.431,0.537,2.1,2.9,0.731,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3842,Jackson Francois,Missouri,G,0.0,0.0,0.0,0.0,0.0,0.1,0.0,...,8.0,0.8,0.0,0.3,0.000,0.000,0.0,0.1,0.000,2023
3843,Alec Kegler,Tennessee,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.5,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2023
3844,Kent Gilbert,Tennessee,G,0.0,0.2,0.5,0.2,0.3,0.2,0.0,...,6.0,1.8,0.0,0.7,0.000,0.000,0.0,0.0,NaN,2023
3845,Adrian Samuels,Vanderbilt,G,0.0,0.0,0.0,0.0,0.0,0.0,0.3,...,3.0,2.3,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
3846,Graham Calton,Vanderbilt,G,0.0,0.3,0.2,0.2,0.0,0.2,0.0,...,6.0,5.0,0.0,0.7,0.000,0.000,0.0,0.0,NaN,2023

In [7]:
season_avg_df.columns

Index(['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB', 'STL',
       'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA', 'FT%',
       'Year'],
      dtype='object')

In [8]:
new_column = ['Player', 'Team', 'Pos', 'PTS', 'AST', 'TRB', 'ORB', 'DRB',
       'STL', 'BLK', 'TOV', 'G', 'MP', 'FG', 'FGA', 'FG%', 'eFG%', 'FT', 'FTA',
       'FT%', 'Year']

In [9]:
new_column = [column.lower() for column in new_column]

In [10]:
season_avg_df.columns = new_column

In [11]:
season_avg_df

,player,team,pos,pts,ast,trb,orb,drb,stl,blk,...,g,mp,fg,fga,fg%,efg%,ft,fta,ft%,year
0,Ron Slay,Tennessee,F,21.2,2.1,7.8,1.6,6.2,0.7,0.1,...,29.0,34.2,7.3,15.0,0.486,0.536,5.2,6.7,0.782,2003
1,Marquis Daniels,Auburn,G,18.4,3.3,6.2,1.9,4.3,2.3,0.2,...,34.0,34.9,7.2,14.0,0.513,0.544,3.1,4.7,0.673,2003
2,Jarvis Hayes,Georgia,F,18.3,2.0,4.4,1.3,3.1,1.1,0.4,...,27.0,32.3,6.9,13.6,0.503,0.576,2.6,3.3,0.784,2003
3,Matt Freije,Vanderbilt,F,17.9,1.1,4.4,1.3,3.1,0.9,0.4,...,29.0,31.1,6.1,13.9,0.443,0.524,3.4,4.3,0.798,2003
4,Ezra Williams,Georgia,G,16.6,2.3,5.0,1.9,3.1,1.4,0.2,...,27.0,31.1,5.8,13.5,0.431,0.537,2.1,2.9,0.731,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3842,Jackson Francois,Missouri,G,0.0,0.0,0.0,0.0,0.0,0.1,0.0,...,8.0,0.8,0.0,0.3,0.000,0.000,0.0,0.1,0.000,2023
3843,Alec Kegler,Tennessee,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.5,0.0,0.5,0.000,0.000,0.0,0.0,NaN,2023
3844,Kent Gilbert,Tennessee,G,0.0,0.2,0.5,0.2,0.3,0.2,0.0,...,6.0,1.8,0.0,0.7,0.000,0.000,0.0,0.0,NaN,2023
3845,Adrian Samuels,Vanderbilt,G,0.0,0.0,0.0,0.0,0.0,0.0,0.3,...,3.0,2.3,0.0,0.3,0.000,0.000,0.0,0.0,NaN,2023
3846,Graham Calton,Vanderbilt,G,0.0,0.3,0.2,0.2,0.0,0.2,0.0,...,6.0,5.0,0.0,0.7,0.000,0.000,0.0,0.0,NaN,2023

In [12]:
numeric_columns = ['pts', 'ast','trb', 'orb','drb', 'stl',
 'blk','tov','g','mp','fg','fga','fg%','efg%','ft','fta','ft%']

In [13]:
career_avg_df = season_avg_df.groupby('player').agg(
    {column: 'mean' for column in numeric_columns}
).reset_index()

In [14]:
career_avg_df = career_avg_df.round(2)

In [15]:
career_avg_df = career_avg_df.sort_values(by = 'pts', ascending = False).reset_index(drop = True)

In [16]:
sec_career_avg_df = career_avg_df

In [17]:
sec_career_avg_df = career_avg_df

In [18]:
career_avg_df['mp'].mean(), career_avg_df['g'].mean()

(15.380334261838438, 22.67455456570156)

In [19]:
career_avg_df = career_avg_df[career_avg_df['g'] > 20]
career_avg_df = career_avg_df[career_avg_df['mp'] > 15]

In [20]:
career_avg_df.to_csv('sec_career_avg_.csv')